<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    <h1>あなたの投稿が一覧画面に登録されました！</h1>
    
    <h4>投稿内容の確認</h4>
    
    <p>content: <%= @picture.confirm %></p>
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
